.field{
  text-align: right;
  font-size: 35px;
  background-color: #8c8c8c;
}


.button{

  justify-content: center;

  height: 100%;
  width: 50%;
  box-shadow: 3px 3px black;
  margin: 5px;
  background-color: #ccc;


}



.taille{
  height: 15%;
  width: 100%;
}

.numero{
  height: 100%;
  width: 90%;
  box-shadow: 5px 5px white;
}

.signe{
  width:18% ;
}

#egal{
  margin-top: 50%;
  width: 437%;
  height: 100%;
  box-shadow: 5px 5px white;

}

.conteneur_total{
  background-color: black;
}
